body {
  margin: 0;
  box-sizing: border-box;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
}

.menu__list {
  list-style: none;
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
  background: lightskyblue;
  margin: 0;
}
